.settings {
    text-align: center;
    height: 100%;
    width: 100%;
}

.settings a{
    clear: both;
    padding: 10px;
    width: 100%;
    text-decoration: none;
}

.settings ul{
    height: 80%;
    list-style: none;
}

#admin a{
    width: 100%;
    /*text-decoration: none;*/
    position:fixed;
    bottom: 0px;
    left: 25%
}

#backward, #bigger-font, #smaller-font{
    text-decoration: none;
    color: darkgreen;
}

#smaller-font{
    font-size: 0.5em;
}

.loader-container {
    text-align: center;
}

.loader-container p {
    color: lightgray;
}

.loader-container a{
    text-decoration: none;
    color: darkgreen;
}